body{
  margin: 0%;
  padding: 0%;
}
.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #FFE521;
}
div a{
  text-decoration: none;
}
div a h1{
  font-family: 'Lobster', cursive;
}
.title{
  color: white;
  text-decoration: none;
}
nav{
  display: flex;
  justify-content: space-around;

}
 .link{  
  display: flex;
  justify-content: space-around;
  background-color: #56F89A;
  border-radius: 10px;
  width: 150px;
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  /* text-decoration: none; */
  color: black;
} 
.image{
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-content: center;
}
.container-margin{
  margin: 1%;
}