/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
body{
  margin: 0%;
  padding: 0%;
}
.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #FFE521;
}
div a{
  text-decoration: none;
}
div a h1{
  font-family: 'Lobster', cursive;
}
.title{
  color: white;
  text-decoration: none;
}
nav{
  display: flex;
  justify-content: space-around;

}
 .link{  
  display: flex;
  justify-content: space-around;
  background-color: #56F89A;
  border-radius: 10px;
  width: 150px;
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  /* text-decoration: none; */
  color: black;
} 
.image{
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-content: center;
}